<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categories</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
<div class="container">
    <h2>Categories</h2>
    <hr>
    <table class="table">
        <thead>
        <tr>
            <th>Category ID</th>
            <th>Category Name</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {{#each categories}}
            <tr>
                <td>{{this.id}}</td>
                <td>{{this.category}}</td>
                <td>
                    <a href="/categories/delete/{{this.id}}" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        {{/each}}
        </tbody>
    </table>
    {{#unless categories}}
        <p>No categories found</p>
    {{/unless}}
</div>
</body>
</html>