<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
<nav>
    <span class="navbar-brand">WEB322 -Emin Feyziyev</span>
    <a href="/shop">Shop</a>
    <a href="/about">About</a>
    <a href="/items">Items</a>
    <a href="/categories">Categories</a>
    <a href="/items/add">Add Item</a>
</nav>

<div>
    <h2>About</h2>
    <p>I am currently studying useless cpp instead of spending time on my beloved java.</p>
</div>

<div>
    <h2 style="text-align: center;">Coming Soon</h2>
    <p>Stay tunned for future updates!</p>
</div>
</body>
</html>